pydantic>=2.11.9,<2.13
pydantic-settings>=2.0.0
pydantic_core>=2.27.0,<2.46.0

pysqlite3-binary

# ÉP HẠ CẤP XUỐNG BẢN ỔN ĐỊNH:
crewai==0.86.0
litellm==1.52.0

openai>=2.30.0,<3
python-dotenv>=1.2.2,<2

streamlit>=1.35.0
minio>=7.2.7
duckdb>=1.0.0
pyspark==3.3.0
